APP_PORT=3000
POSTGRES_DB=plano_pneumatic
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SEED_ADMIN_EMAIL=admin@planopneumatic.com
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_NAME=Administrador
SEED_OPERATOR_EMAIL=operador@planopneumatic.com
SEED_OPERATOR_PASSWORD=Operador123!
SEED_OPERATOR_NAME=Operador de Triagem
